/build
build
build/
*.code-workspace
.code-workspace
code-workspace
LateinTrainer.code-workspace
/logs
logs/
__pycache__
*.spec
.spec
temporary/
*.tmp
.tmp
*.tmp.driveupload/
.tmp.driveupload/
*.tmp.driveupload
.tmp.driveupload
*.vscode
.vscode
workspace