*/build
/build
build
build/
build/*
*.code-workspace
.code-workspace
code-workspace
*/dist
/dist
dist
dist/
dist/*
font_cache.json
src/data/font_cache.json
_internal
LateinTrainer.code-workspace
logs/
/logs
*/logs
__pycache__
__pycache__/
/__pycache__
*/__pycache__
temporary/
*.tmp
.tmp
*.tmp.driveupload/
.tmp.driveupload/
*.tmp.driveupload
.tmp.driveupload
*.vscode
.vscode
workspace
wrong_answers_per_case.json